ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem; 
    color: #333;
    list-style-type: none;
}

h5 {
    font-size: 1.8rem; 
    font-weight: bold;
    color: #222;
}

p {
    font-size: 1.4rem; 
    margin: 5px 0;
    color: #444;
}

.pedido-container {
    background-color: #f9f9f9;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h5 {
    color: #000000;
    font-size: 1.8rem;
}

p {
    color: #000000;
    font-size: 1.3rem;
}

.listado-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }